[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.7.4.post0"
aiogram = "~=2.14"
pyspellchecker = "*"

[dev-packages]

[requires]
python_version = "3.12"
